<div id="services">
  <h4 class="title">Our Services</h4>

  <div class="service-img"></div>

  <div class="service-accordion">
    <app-accordion>
      <app-accordion-item>
          <span class="header-title">
            Strategy
          </span>
        <div class="accordion-item-content">
          Achieving your business outcomes and continued growth demands a strategic roadmap and smarter insights. The
          solutions you implement today will help pave the way for success tomorrow.
        </div>
      </app-accordion-item>
      <app-accordion-item>
          <span class="header-title">
            Analytics
          </span>
        <div class="accordion-item-content">
          Achieving your business outcomes and continued growth demands a strategic roadmap and smarter insights. The
          solutions you implement today will help pave the way for success tomorrow.
        </div>
      </app-accordion-item>
      <app-accordion-item>
          <span class="header-title">
            Human Capital
          </span>
        <div class="accordion-item-content">
          Achieving your business outcomes and continued growth demands a strategic roadmap and smarter insights. The
          solutions you implement today will help pave the way for success tomorrow.
        </div>
      </app-accordion-item>
      <app-accordion-item>
          <span class="header-title">
            Technology
          </span>
        <div class="accordion-item-content">
          Achieving your business outcomes and continued growth demands a strategic roadmap and smarter insights. The
          solutions you implement today will help pave the way for success tomorrow.
        </div>
      </app-accordion-item>

    </app-accordion>
  </div>
</div>
