<div id="header">
  <div class="logo">
    <h1 class="heading">globodyne</h1>
  </div>

  <div class="menu-links">
    <ul class="custom-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Strategy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Human Capital</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Enterprise Technology</a>
      </li>
    </ul>
  </div>

  <div class="header-banner">
    <h1 class="text">building</h1>
    <h1 class="text">the</h1>
    <h1 class="text">future</h1>
  </div>

</div>
