<div id="footer">
  <div class="footer-logo">
    <h1 class="heading">globodyne</h1>
    <p>
      &copy; 2020 Globodyne Incorporated.&nbsp;
      <span>All rights reserved.</span>
    </p>
  </div>
  <div class="footer-links">
    <ul class="custom-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Office Directory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Submit RFP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
  </div>
</div>
