@import "_variables";

/*
.container {
  display: flex !important;
  flex: 0 1 100%;
  //flex-wrap: wrap !important;
  //-ms-flex-wrap: wrap !important;
}

.row {
  flex-direction: row !important;
}

.column {
  flex-direction: column !important;
}

*/
